.card-conteiner {
  padding: 5px;
}

.card-descricao {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 5px;
}

.card-descricao p {
  padding-top: 5px;
  color: #7e7e7e;
}
