.card-conteiner{
    padding: 5px;

}



.card-descricao{

    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 5px;

}

.card-descricao p{
    padding-top: 5px;
    color: #7E7E7E;
}


.img-container{
    display: flex;
    height: 150px;
    width: 150px;
   
}